<%
  def encode_id *args
    args.map{|x| x.to_s.underscore.gsub(/[^A-Za-z0-9_-]/, "_")}.join("_")
  end


%>
<div>
  <form id="powergrid-form-#{action}" class="powergrid-form" enctype="application/json" action="<%= powergrid_path %>" method="POST">

      <div class="powergrid-form-content">
      <% fieldsets = @permitted_columns.map{|c| @grid.get_column(c)}.group_by(&:fieldset) %>
      <% fieldsets.each do |fieldset, sub_columns| %>
        <fieldset>
          <% if fieldset && !fieldset.empty? %>
          <legend><%= fieldset %></legend>
          <% end %>
          <% sub_columns.each do |column| %>
            <div class="powergrid-form-field with-check">

              <% checked = @values_hash[column.name].nil? ? "" : "checked='checked'" %>
              <div class="powergrid-form-check">
                <input class="" id="<%= encode_id 'resource', column.name, 'active' %>" name="resource[<%= column.name %>][active]" type="checkbox" value="1" <%=checked%> />
              </div>

              <div class="powergrid-form-label">
                <label for="<%= encode_id 'resource', column.name %>"><%= column.label %></label>
                <% if column.hint %>
                  <div class="hint"><%= column.hint %></div>
                <% end %>
              </div>

              <div class="powergrid-form-field">
                <input type="text" name="resource[<%= column.name %>][value]" id="<%= encode_id 'resource', column.name, 'value' %>" value="<%=  @values_hash[column.name] %>" placeholder="<%= column.placeholder %>" data-check="<%= encode_id 'resource', column.name, 'active' %>" />
              </div>

            </div>
          <% end #sub_columns %>
        </fieldset>
      <% end #fieldset %>
    </div>
    <hr />
    <div class="powergrid-modal-buttons powergrid-clearfix">
      <button type="submit" class="pull-right">Submit</button>
      <button class="pull-right"><i class="fa fa-times">&nbsp;</i>Close</button>
    </div>
  </form>
</div>
<script type="text/javascript">
  RailsPowergrid.prepareForm(<%=action%>, document.getElementById("powergrid-form-<%=action%>"), RailsPowergrid.Grid.get("<%=@grid.name%>") );
</script>
